*{
    font-family: 'Pacifico', cursive;
    font-family: 'Karla', sans-serif;
    padding : 0px;
    margin : 0px;
}

ul,li{
    list-style: none;   
}

/* the main section where the page begins..*/

/* .navv{
    justify-content: center;
    align-items: center;
} */

.mainBlock{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li{
    margin: 2vh;
    font-size: 1.5rem;
}

.Main_look{
    width: 100%;
    display: flex;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Main_look_content{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    padding: 0 0 0 10rem;
    width: 45vw;
}

.Main_look_content .m{
    margin: 0;
    padding: .5rem;
}

.Main_look_content h1{
    font-size: 10rem;
}

.Main_look_content h3{
    font-size: 2rem;
}

.Main_look_content p{
    font-size: 1.5rem;
}

/* now the below styles are all for the second block i.e clubs */

.club_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400vh;
}

.club_wrapper h1{
    font-size: 4rem;
    height: 20vh;
}

.club_main_wrapper{
    height: 400vh;
    display: flex;;
    flex-direction: row;
}

.club_list{
    display: flex;
    width: 49vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0!important;
}

.club_list ul li{
    font-size: 2.5rem;
}

.club_content{
    width: 49vw;
}

.club_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.club_card h1{
    font-size: 2.5rem;
    height: 10vh;
}

.club_card p{
    font-size: 1.5rem;
    height : 30vh;
    width: 90%;
}

.club_card .lottie_animation{
    height: 60vh;
}

/* this is contact us styling */

