*{
  font-family: 'Pacifico', cursive;
  font-family: 'Karla', sans-serif;
  padding : 0px;
  margin : 0px;
}

ul,li{
  list-style: none;   
}

/* the main section where the page begins..*/

/* .navv{
  justify-content: center;
  align-items: center;
} */

.mainBlock{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li{
  margin: 2vh;
  font-size: 1.5rem;
}

.Main_look{
  width: 100%;
  display: flex;;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Main_look_content{
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  padding: 0 0 0 10rem;
  width: 45vw;
}

.Main_look_content .m{
  margin: 0;
  padding: .5rem;
}

.Main_look_content h1{
  font-size: 10rem;
}

.Main_look_content h3{
  font-size: 2rem;
}

.Main_look_content p{
  font-size: 1.5rem;
}

/* now the below styles are all for the second block i.e clubs */

.club_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400vh;
}

.club_wrapper h1{
  font-size: 4rem;
  height: 20vh;
}

.club_main_wrapper{
  height: 400vh;
  display: flex;;
  flex-direction: row;
}

.club_list{
  display: flex;
  width: 49vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0!important;
}

.club_list ul li{
  font-size: 2.5rem;
}

.club_content{
  width: 49vw;
}

.club_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.club_card h1{
  font-size: 2.5rem;
  height: 10vh;
}

.club_card p{
  font-size: 1.5rem;
  height : 30vh;
  width: 90%;
}

.club_card .lottie_animation{
  height: 60vh;
}

/* this is contact us styling */

#cu{
  width: 60%;
}

.contactRapper{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bg_blur{
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-image: url(../src/component/static/animations/contactback.jpg); */
  background-color: #ffc700;
  filter: blur(5px);
  z-index: -1;
}

.Contact_form{
  height : 75%;
  /* width : 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  border-radius: 2rem;
  padding: 2rem;
}

.Contact_form img{
  border-radius: 2rem;
  /* width: 50%; */
}

.filling{
  height: 80%;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
}

.filling h1{
  font-size: 4rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.form_group{
  position:relative;
  padding: 15px 0 0;
  width: 100%;
}

.form_field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000000;
  padding: 7px 0;
  background: transparent;
}

.form_field::placeholder{
  color: transparent;
}

.form_label{
  position: absolute;
  display: block;
  top: 0;
  font-size: 1rem;
  color: #9b9b9b;
  transform: 0.2s;
}

.form_field:placeholder-shown~.form_label{
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.Actual_form{
  background-color: #fff;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: .2rem solid black;
}

.dropdown{
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  min-height: 10px;
  z-index: 1;
}

.dropbtn{
  font-size: 1.3rem;
  background-color: #ffc700;
  border-radius: 1rem;
  padding: .2rem;
  width: 100%;
}

.dropbtn:hover{
  background-color: #ffc8008f;
}

.dropdown:hover .dropdown-content{
  display: block;
  background-color: #ffc8008f;
  width: 100%;
}

.p0:hover  {
  background-color: #ffc700;
}

.p1:hover {
  background-color: #ffc700;
}

.p2:hover {
  background-color: #ffc700;
}

.p3:hover {
  background-color: #ffc700;
}

.year{
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  font-size: 1.3rem;
}

.year_title{
  width: 50%;
  color: #9b9b9b;
}

.msg{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: #9b9b9b;
  justify-content: space-between;
}

.textarea{
  font-size: 1.3rem;
  color: #000;
  margin: 20px 0;
  outline: none;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
}



/* this section of css deals with feedback form  */

/* remember that the feedback form is just a modified contact us from so most of styles have been inherited just few changes here and there are done. */

#fb{
  width: 60%;
}

.fBg_blur{
  background-color: #0099ff ;
}


.fdropbtn{
  background-color: #0099ff;
  width: 100%;
}

.fdropbtn:hover{
  background-color: #60b6f0;
}

.dropdown:hover .fdropdown-content{
  display: block;
  background-color: #60b6f0;
}


.fp0:hover  {
  background-color: #0099ff;
}

.fp1:hover {
  background-color: #0099ff;
}

.fp2:hover {
  background-color: #0099ff;
}

.fp3:hover {
  background-color: #0099ff;
}

.fp4:hover {
  background-color: #0099ff;
}

.fdropbtn{
  background-color: #0099ff;
}


/* footer css design start here  */


.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1.5rem;
  font-weight: 0;
  /* padding: 40px 0 0 0 ; */
}

.foot{
  height: 30vh;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* This perticular section deals with the About Us page and also the section which is present at main page */

.About{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About h1{
  font-size: 4rem; 
}